    /* Define color variables */
    :root {
        --primary-color: #34495E;
        --secondary-color: #1a73bc;
        --accent-color: #E74C3C;
        --background-color: #ECF0F1;
        --text-color: #2C3E50;
        --hover-color: #13dce7;
    }

    /* Global Styles */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: var(--background-color);
        color: var(--text-color);
    }

    header {
        background-color: var(--primary-color);
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .about,
    .service-item,
    .portfolio-item
    {
        text-align: justify;
    }

    .logo{
        color: var(--background-color);
    }

    .nav-links {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 20px;
    }

    .nav-links li {
        display: inline;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
    }

    .nav-links a:hover {
        color: var(--hover-color);
    }

    .social-links {
        display: flex;
        gap: 15px;
    }

    .social-links a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;
        transition: color 0.3s;
    }

    .social-links a:hover {
        color: var(--hover-color);
    }

    .hero {
        background-color: var(--primary-color);
        color: white;
        text-align: center;
        padding: 100px 20px;
    }

    .cta-button {
        background-color: var(--secondary-color);
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .cta-button:hover {
        background-color: var(--hover-color);
    }

    .about, .services, .portfolio, .contact {
        padding: 50px 20px;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .service-list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .service-item {
        
        margin-bottom: 20px;
    }

    .portfolio-category {
        margin-bottom: 40px;
    }

    .portfolio-items {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .portfolio-item {
        width: 45%;
        margin-bottom: 20px;
    }

    .portfolio-item img {
        max-width: 100%;
        height: auto;
        border-radius: 25px;
        margin-bottom: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 5px;
    }

    input, textarea {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    button {
        padding: 10px;
        background-color: var(--secondary-color);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: var(--hover-color);
    }

    footer {
        background-color: var(--primary-color);
        color: white;
        text-align: center;
        padding: 20px;
    }

    /* Add styles for the shopping page */
    .shop-head{
        text-align: center;
        margin-bottom: 25px;
    }
    .shop {
        padding: 50px 20px;
    }

    .shop .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .products {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .product-item {
        width: 30%;
        margin-bottom: 20px;
        text-align: center;
    }



    .product-item img {
        max-width: 100%;
        height: auto;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .product-item h3 {
        font-size: 18px;
        margin: 10px 0;
    }

    .product-item p {
        font-size: 16px;
        color: var(--accent-color);
    }

    .product-item button {
        padding: 10px 20px;
        background-color: var(--secondary-color);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .product-item button:hover {
        background-color: var(--hover-color);
    }

    



    /* Dropdown Styles */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropbtn {
        background-color: var(--primary-color);
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: var(--primary-color);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: white;
        padding: 12px;
        text-decoration: none;
        display: block;
        transition: background-color 0.3s;
    }

    .dropdown-content a:hover {
        background-color: var(--hover-color);
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: var(--hover-color);
    }

